---
name: Releaser

"on":
  push:
    tags:
      - "v[0-9].[0-9].[0-9]+"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
      - name: Generate changelog latest
        uses: orhun/git-cliff-action@c93ef52f3d0ddcdcc9bd5447d98d458a11cd4f72
        id: cliff
        with:
          config: cliff.toml
          args: -vv --latest --strip header
      - name: Get tag
        shell: bash
        run: |
          echo "TAG=${GITHUB_REF:10}" >> "$GITHUB_ENV"
      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          name: pgrank ${{ env.TAG }}
          body: ${{ steps.cliff.outputs.content }}
          generate_release_notes: true
  doxygen:
    name: Doxygen html
    needs:
      - release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Download doxygen-awesome-css theme
        uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05
        with:
          repository: "jothepro/doxygen-awesome-css"
          latest: true
          tarBall: true
          zipBall: false
          extract: true
          out-file-path: "."
      - name: Rename doxygen-awesome-css
        run: |
          rm -f ./*.tar.gz
          mv ./*doxygen-awesome-css* doxygen-awesome-css/
      - name: Create html docs
        run: |
          set -x
          sudo apt install doxygen
          doxygen
          sub="$(sed -n "/<a href=\"https:\/\/github.com\/andros21\/pgrank\">/,/<\/a>/p" README.md)"
          sed -i "s|<a href=\"https://github.com/andros21/pgrank\">\(.*\)</a>|$(echo ${sub})|" html/index.html
          # add cyto.js examples
          cp -r examples/caibg/cyto/ html/caibg/
      - name: Publish to gh-pages (main)
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: html/
  changelog:
    name: Changelog
    needs:
      - doxygen
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout project
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
      - name: Get tag
        shell: bash
        run: |
          echo "TAG=${GITHUB_REF:10}" >> "$GITHUB_ENV"
      - name: Refresh changelog
        uses: orhun/git-cliff-action@c93ef52f3d0ddcdcc9bd5447d98d458a11cd4f72
        with:
          config: cliff.toml
          args: --verbose --tag ${{ env.TAG }}
        env:
          OUTPUT: CHANGELOG.md
      - name: Commit changelog
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
        with:
          message: "chore(CHANGELOG): add pgrank ${{ env.TAG }} changes"
          add: "CHANGELOG.md"
          new_branch: master
